<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <style type="text/css">
      html, body, [data-root] {
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
        background-color: #8fbc8f;
      }
    </style>
    <% if (typeof htmlWebpackPlugin.options.googleAnalyticsID === 'string') { %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', '<%= htmlWebpackPlugin.options.googleAnalyticsID %>', 'auto');
      ga('send', 'pageview');
    </script>
    <% } %>
  </head>
  <body>
    <div data-root></div>
  </body>
</html>
