body, button {
  font-family: monospace;
  font-weight: bold;
}

.container {
  font-size: 2rem;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
  max-width: 960px;
  margin: auto;
}

.actions {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;

  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.action {
  border: 0.3rem solid white;
  font-size: 1.5rem;
  margin: 0.25rem;
  border-radius: 1rem;
  background: #cccccc;
  cursor: pointer;
  white-space: nowrap;
}

.action:active {
  background: #dedede;
}

.wave {
  position: absolute;
  top: 0;
  left: 30%;
  right: 30%;
}

.waveImage {
  background: #dd2e44;
  background-image: url(../images/ogre.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 4rem;
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  overflow: hidden;
  text-indent: -10rem;
  margin: 0.3rem;
}

.waveLevel {
  background: #fff;
  color: #dd2e44;
  height: 2.3rem;
  width: 2.3rem;
  text-align: center;
  line-height: 2.3rem;
  border-radius: 50%;
  position: absolute;
  left: -0.9rem;
  top: 0;
}

.castle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.castleImage {
  background: #4caf50;
  background-image: url(../images/castle.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 8rem;
  border-radius: 50%;
  height: 12rem;
  width: 12rem;
  overflow: hidden;
  text-indent: -10rem;
}

.generators {
  position: absolute;
  bottom: 5rem;
  left: 0;
}

@media (min-width: 450px) {
  .action {
    font-size: 2.5rem;
    margin: 1rem;
  }
}

@media (min-width: 700px) {
  .action {
    font-size: 3rem;
    margin: 1rem;
  }
}
