.corpses {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.corpse {
  position: absolute;
  height: 1rem;
  width: 1rem;
  background: transparent;
  background-image: url(../images/skull.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.corpse.decay {
  opacity: 0;
  animation: corpse-fade-out 2s 1;
}

@keyframes corpse-fade-out {
  0%   { opacity: 1; }
  100% {  opacity: 0; }
}
