.creeps {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.creep {
  position: absolute;
  height: 1.25rem;
  width: 1.25rem;
  transition: transform 1.2s;
  opacity: 1;
  animation: creep-fade-in 1.5s 1;

  background-image: url(../images/ogre.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.outter {
  fill: #ea8390;
}

.inner {
  fill: #dd2e44;
}

@keyframes creep-fade-in {
  0%   { opacity: 0; }
  100% {  opacity: 1; }
}

.creep.fight {
  animation: fight 1s infinite 500ms;
}

.creep.loot {
  animation: none;
}

.creep.loot::after {
  content: ' ';

  display: block;
  width: 1rem;
  height: 1rem;

  position: absolute;
  bottom: -0.33rem;
  right: -0.33rem;

  background-image: url(../images/money-bag.svg);
  background-repeat: no-repeat;
  background-position: center;
}

@keyframes fight {
  0%, 100% {
    width: 1rem;
    height: 1rem;
    /*top: 0px;*/
  }
  50% {
    /*top: 10px;*/
    width: 1.3rem;
    height: 1.3rem;
  }
}
