.gauge {
  background-color: #9ad49a;
  position: relative;
  height: 1.4rem;
}

.gaugeCursor {
  height: 100%;
  background-color: #6bdf6b;
  transition: width 500ms;
}

.gaugeText {
  height: 100%;
  position: absolute;
  display: block;
  width: 100%;
  color: white;
  font-size: 1rem;
  font-family: monospace;
  font-weight: bold;
  text-align: center;
}
