.container {
  margin: 0.3rem;
  position: relative;
}

.firstLine {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.image {
  background: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2rem;
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  margin: 0 0.3rem 0 0;
}

.image.swordsman {
  background-image: url(../images/dagger.svg);
}

.image.archer {
  background-image: url(../images/bow.svg);
}

.image.fire-mage {
  background-image: url(../images/fire.svg);
}

.image.ice-mage {
  background-image: url(../images/snowflake.svg);
}

@value GOLD_COLOR from "./variables.css";

.cost.gold {
  color: GOLD_COLOR;
  font-size: 1rem;
}

.cost.gold::before {
  content: ' ';
  display: inline-block;
  background: transparent;
  background-image: url(../images/money-bag.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 1em;
  width: 1em;
  overflow: hidden;
  text-indent: -10rem;
  margin: 0 0.3rem;
}

.buy {
  display: flex;
  align-items: center;
  margin-left: 0.25rem;
  margin-top: -0.5rem;
}

.button {
  border: 0.2rem solid white;
  font-size: 1rem;
  padding: 0.3rem 0.5rem;
  border-radius: 1rem;
  background: #cccccc;
  cursor: pointer;
  margin: 0;
}

.button:active {
  background: #dedede;
}

.tooltip {
  display: none;
  text-align: right;
  padding: 0.5rem 0.75rem 0 0;
}

.container:hover .image {
  background-image: none;
}

.container:hover .tooltip {
  display: inherit;
}

.damagePerTick,
.attackPerTick {
  font-size: 1.25rem;
}

.attackPerTick::after,
.damagePerTick::after {
  content: ' ';
  display: inline-block;
  background: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 1em;
  width: 1em;
}

.attackPerTick::after {
  background-image: url(../images/direct-hit.svg);
}

.damagePerTick::after {
  background-image: url(../images/crossed-swords.svg);
}
