.container {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.goldImage {
  background: transparent;
  background-image: url(../images/money-bag.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 3rem;
  width: 3rem;
  overflow: hidden;
  text-indent: -10rem;
  margin: 0.3rem;
}

@value GOLD_COLOR from "./variables.css";

.goldValue {
  color: GOLD_COLOR;
  font-size: 3rem;
}

.modifiers {
  position: absolute;
  top: 2.75rem;
  left: 0.3rem;
  width: 100%;
  height: 1rem;
}

.modifier {
  white-space: nowrap;
  font-size: 1.5rem;
  position: absolute;
  bottom: -1rem;
  opacity: 0;
}

.modifier::after {
  content: ' ';
  display: inline-block;
  background: transparent;
  background-image: url(../images/money-bag.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 1em;
  width: 1em;
}

.modifier.negative {
  color: #dd2e44;
  animation: modifier-fade-out-down 2s 1;
}

.modifier.positive {
  color: GOLD_COLOR;
  animation: modifier-fade-out-up 1s 1;
}

@keyframes modifier-fade-out-up {
  0%   { opacity: 1; transform: translateY(1rem); }
  100% {  opacity: 0; transform: translateY(0rem); }
}

@keyframes modifier-fade-out-down {
  0%   { opacity: 1; transform: translateY(0rem); }
  50%   { opacity: 0.75; transform: translateY(0rem); }
  100% {  opacity: 0; transform: translateY(1rem); }
}
