.container {
  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.image {
  background: transparent;
  background-image: url(../images/skull.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 3rem;
  width: 3rem;
  overflow: hidden;
  text-indent: -10rem;
  margin: 0.3rem;
}

.value {
  color: #414042;
  font-size: 3rem;
}

.modifiers {
  position: absolute;
  top: 2.75rem;
  right: 4rem;
  width: 100%;
  height: 1rem;
}

.modifier {
  white-space: nowrap;
  position: absolute;
  opacity: 0;
  animation: modifier-fade-out 1s 1;
  color: #414042;
}

.modifier::after {
  content: ' ';
  display: inline-block;
  background: transparent;
  background-image: url(../images/skull.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 1em;
  width: 1em;
}

@keyframes modifier-fade-out {
  0%   { opacity: 1; transform: translateY(1rem); }
  100% {  opacity: 0; transform: translateY(0rem); }
}
