@value GOLD_COLOR from "./variables.css";

.container {
  position: relative;
}

.costs {
  position: absolute;
  width: 100%;
  top: -1rem;
}

@media (min-width: 450px) {
  .costs {
    top: -0.5rem;
  }
}

.cost.gold {
  color: GOLD_COLOR;
  font-size: 1rem;
}

.cost.gold::before {
  content: ' ';
  display: inline-block;
  background: transparent;
  background-image: url(../images/money-bag.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 1em;
  width: 1em;
  overflow: hidden;
  text-indent: -10rem;
  margin: 0 0.3rem;
}

.button {
  composes: action from './Application.css';
}
