.container {
  position: absolute;
  bottom: 0;
  right: 0;
}

.button {
  cursor: pointer;
  background: transparent;
  background-image: url(../images/bar-chart.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 3rem;
  width: 3rem;
  overflow: hidden;
  text-indent: -10rem;
  margin: 0.3rem;
  border: none;
}
